@model List<OlympicEntry>

@{
    ViewData["Title"] = " Olympic Data Filtered";
}

<a asp-controller="OlympicData" asp-action="Index" class="btn btn-secondary">Return to Olympics Page</a>
<a asp-controller="Favorites" asp-action="Index" class="btn btn-info">View Favorites</a>
<div class="row">
    
    <div class="col-3">

        
        <h5>Filter by Game</h5>
<div class="d-flex flex-column">
    <a asp-action="Filter" asp-route-game="ALL" asp-route-category="@ViewData["CurrentCategory"]">All Games</a>
    <a asp-action="Filter" asp-route-game="Winter Olympics" asp-route-category="@ViewData["CurrentCategory"]">Winter Olympics</a>
    <a asp-action="Filter" asp-route-game="Summer Olympics" asp-route-category="@ViewData["CurrentCategory"]">Summer Olympics</a>
    <a asp-action="Filter" asp-route-game="Paralympics" asp-route-category="@ViewData["CurrentCategory"]">Paralympics</a>
    <a asp-action="Filter" asp-route-game="Youth Olympic Games" asp-route-category="@ViewData["CurrentCategory"]">Youth Olympic Games</a>
</div>

        <h5>Filter by Category</h5>
        <div class="d-flex flex-column">
        <a asp-action="Filter" asp-route-game="@ViewData["CurrentGame"]" asp-route-category="ALL">ALL Categories</a>
        <a asp-action="Filter" asp-route-game="@ViewData["CurrentGame"]" asp-route-category="Indoor">Indoor</a>
        <a asp-action="Filter" asp-route-game="@ViewData["CurrentGame"]" asp-route-category="Outdoor">Outdoor</a>
        </div>
    </div>

    <div class="col-9">
        <div class="row">
            @foreach (var entry in Model.OrderBy(e => e.Country))
            {
                <div class="col-4 text-center mb-4">
                    <img src="@entry.FlagPath" title="@($"{entry.Country} - {entry.Game} - {entry.Category}")" style="width:100px;" />
                    <form asp-controller="OlympicData" asp-action="AddToFavorites" method="post" class="mt-2">
                        <input type="hidden" name="key" value="@entry.GetKey()" />
                        <button type="submit" class="btn btn-sm btn-primary">Add to Favorites</button>
                    </form>
                </div>
            }
        </div>
    </div>

</div>
