@model List<Contact>
@{
    ViewData["Title"] = "My Contacts";
}

<div class="mb-2">
    <a asp-controller="Contact" asp-action="Add">Add New Contact</a>
</div>

<table class="table table-bordered table-striped">
    <thread>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Note</th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.Number</td>
                <td>@contact.Street</td>
                <td>@contact.City</td>
                <td>@contact.State</td>
                <td>@contact.Zip</td>
                <td>@contact.Note</td>
                <td>
                    <a asp-controller="Contact" asp-action="Edit" asp-route-id="@contact.ContactId">Edit</a>
                    <a asp-controller="Contact" asp-action="Delete" asp-route-id="@contact.ContactId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>